<form action"/tasks/reorder" method="POST">
  <input type="textbox" name="Name" />
  <input type="textbox" name="LinerNotes" />
  <input type="submit" value="pressme!" />
</form> ///don't need any of this

<div id="result"></div>

<script>
  function someFunction(HTMLdata){
    do something when post is successful
    document.getElementById("results").innerHTML = HTMLdata
  }
  dataToSend = {};
  dataToSend.Title = "Task Name";
  datatoSend.Text = "Task Description";
  datatoSend.List =
  var sortedIDs = $( ".sortable" ).sortable( "toArray" );


  URL/DATA/TYPE;
  someSettings = {
    url: "tjkjk",
    jkjkj: "",
    success: someFUnction
  };
  someSettings.URL = "tasks/reorder";
  someSetting.type = "GET";
  someSettings.data = dataToSend;
  someSettings.success = someFunction
  $.ajax(someSettings);

  dataToSend = {Name: "My javascript name", Linernote: "kjkjkj"};
</script>

sortable instead of success has update
